
header {
    /* border: 0.2rem solid red; */
    height: 4rem;
    display: flex;
    padding: 0.5rem;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    background-color: #252323;
    color: #eee;


}
.logo {
    border: 0.1rem solid blue;
    background-color: blue;
    font-weight: bold;
    width: 1rem;
    height: 1rem;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    margin-right: 0.7rem;

}
.titulo {
    /* border: 0.2rem solid yellow; */
    flex: 1;
    width: 100%;
}

.menu-hamburguer {
    /* border: .1rem solid red; */
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #464646;

}

.menu-hamburguer i {
    font-size: 1.2rem;
    color: #ccc;
 
}

.menu-hamburguer:hover i { /* efeito na div*/
    color: #eee;
}
    

.menu-hamburguer i:hover { /* efeito no icone*/
    color: white;
}