.container {
  /* border: 0.1rem solid purple; */
  display: flex;
  flex: 1;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: left;
}

.cartao {
    display: flex;
    flex-direction: column;
    border: 1px solid#ccc;
    border-radius: .5rem;
    box-shadow: .3rem .3rem .3rem .03rem #eee;
    padding: 1rem;
    width: 15rem;
}

.corpo-do-cartao {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between; 
    margin-top: 0.5rem;
}