
section {
    /* border: 0.2rem solid blue; */
    display: flex;
    flex: 1;
    
}

nav {
    /* border: 0.2rem solid yellow; */
    width: 10rem;
    background-color: #eee;
    padding: 0.5rem;

}
.container {
  /* border: 0.1rem solid purple; */
  display: flex;
  flex: 1;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: left;
}