
@import url(cabecalho.css);
@import url(corpo.css);
@import url(cartao.css);
@import url(rodape.css);


*{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}

body {
    /* border: 0.2rem solid #15aee1; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}





.titulo {
    /* border: 0.2rem solid yellow; */
    flex: 1;
    width: 100%;
}
section {
    /* border: 0.2rem solid blue; */
    display: flex;
    flex: 1;
    
}

nav {
    /* border: 0.2rem solid yellow; */
    width: 10rem;
    background-color: #eee;
    padding: 0.5rem;

}

main {
    /* border: 0.2rem solid purple; */
    display: flex;
    flex: 1;
    padding: 0.5rem;
}

footer {
    /* border: 0.2rem solid green; */
    height: 4rem;
    padding: 0.5rem;
    background-color: #252323;
    color: #eee;

}

